@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  /* ---------FONT--------- */
  --ff-body: 'Open Sans', sans-serif;
  --ff-heading: 'Merriweather', serif;

  /* FONT SIZE */
  /* --fs-xl: clamp(3.2rem, 12vw+1rem, 12rem); */

  /* ---------COLOR--------- */
  --primary-color: #feb960;
  --secondry-color: #9e9e9e;
  --bg-color1: #202020;
  --bg-color2: #181818;
  --line-color: #5c5c5c;
  --line-color2: #202020;
}

::selection {
  background-color: #feba6044;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  font-family: var(--ff-body);
  color: white;
}

ol,
ul {
  list-style: none;
}

/* ---------UTILITIES--------- */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  width: 1100px;
  height: 100%;
}

.highlight {
  color: var(--primary-color);
}

.right-arrow, .left-arrow{
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.right-arrow{
  padding-left: 8px;
}

.left-arrow{
  padding-right: 8px;
}

a, a::after, a::before{
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.1s linear;
  cursor: pointer;
}

a:hover{
  color: var(--primary-color);
}

.wrap{
  justify-content: flex-start;
}

.wrap .line::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 125px;
  width: 1px;
  left: 50%;
  background: var(--primary-color);
}

.category, .name {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
}

.category{
  margin-top: 150px;
}

.title{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: var(--ff-heading);
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

.btn1 {
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s linear;
}

.btn2{
  width: 220px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--bg-color1);
  transition: 0.1s linear;
}

.btn2:hover{
  background-color: var(--bg-color1);
  border: 1px solid var(--primary-color);
}

.bottom-btns{
  display: flex;
  margin-top: 36px;
  gap: 40px;
}

.bottom-btns button {
  width: 36px;
  height: 36px;
  background: transparent;
  border: unset;
  cursor: pointer;
}

.bottom-btns button::before,
.bottom-btns button::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 2.5px;
  background: var(--line-color);
  transform: translateY(-3px);
}


/* ---------HOMEPAGE--------- */
.main{
  width: 100%;
  height: 960px;
  background: url(./images/image.png) no-repeat center, var(--bg-color1);
  background-size: cover;
}

.main .wrap{
  justify-content: center;
}

header{
  padding: 40px;
  white-space: nowrap;
  font-family: var(--ff-heading);  
  font-size: 4.2rem;
  text-align: center;
  border: 1px solid var(--secondry-color);
}

.GNB{
  margin-top: 50px;
}

.GNB-list{
  padding: 14px;
}

.GNB .design::after,
.GNB .strategy::after{
  content: "";
  display: inline-block;
  height: 16px;
  transform: translate(15px, 3px);
  border: 1px solid var(--primary-color);
}

.home-nav{
  justify-content: space-between;
  width: 100%;
  transform: translateY(200px);
}

.home-nav .touch{
  padding: 14px;
}

.fusion{
  font-weight: 600;
  text-indent: -1px;
}

.fusion:hover{
  color: white;
  border-color: white;
}

.scroll-down{
  width: 100px;
  height: 200px;
  text-align: center;
  transform: translateY(80px);
  transition: ease-out 0.25s;
}


.scroll-down:hover{
  transform: translateY(110px);
  opacity: 20%;
}

.fa-chevron-down{
  font-size: 1.5rem;
}

/* ---------OUR SERVICE--------- */
.our-service{
  width: 100%;
  height: 960px;
  background: var(--bg-color1);
}

.our-service .wrap > p::before{
  top: 960px;
}

.service-group{
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
}

/* services */

.services{
  flex-direction: column;
  width: 100%;
}

.services .title{
  width: 70%;
  min-width: 760px;
}

.service-title{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.service{
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  cursor: pointer;
  transition: 0.1s linear;
}

.service i{
  margin-bottom: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-S{
  background: url(./images/icon-strategy.png) no-repeat center;
}

.icon-B{
  background: url(./images/icon-branding.png) no-repeat center;
}

.icon-D{
  background: url(./images/icon-design.png) no-repeat center;
}

.service h3{
  font-family: var(--ff-heading);
  font-size: 1.6rem;
  font-weight: 100;
}

.service p{
  margin: 20px 0;
  font-size: 0.9rem;
  line-height: 30px;
  color: var(--secondry-color);
  transition: 0.1s linear;
}

.service:hover{
  box-shadow: 3px 4px 8px #00000021, -3px -4px 8px #ffffff0a;
}

.service:hover p{
  color: white;
}

.service:hover a{
  color: var(--primary-color);
}

/* ---------OUR SERVICE - DETAIL--------- */
.our-service .service-detail{
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

/* our-service left-side */
.our-service .left-side {
  padding-right: 35px;
  width: 50%;
  height: 100%;
  text-align: right;
  transform: translateX(-20px);
}

.strategy .background {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./images/services-strategy.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.our-service .left-side h3 {
  margin-top: 150px;
  padding: 14px 20px 14px 24px;
  display: inline-block;
  font-family: var(--ff-heading);
  font-size: 1.9rem;
  font-weight: 400;
  background: white;
  color: var(--bg-color1);
}

.our-service .left-side .btn1 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.our-service .left-side button:hover {
  border-color: var(--primary-color);
}

.fa-chevron-left {
  font-size: 1.2rem;
  transform: translateY(2px);
  transition: 0.1s linear;
}

.our-service .left-side button:hover .fa-chevron-left {
  color: var(--primary-color);
}

/* our-service right-side */

.our-service .right-side {
  display: inline-block;
  align-self: flex-start;
  width: 40%;
}

.our-service .right-side h4 {
  margin-top: 148px;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.our-service .right-side>p {
  margin: 24px 0;
  width: 40vw;
  max-width: 700px;
  font-size: 1rem;
  line-height: 28px;
  color: var(--secondry-color);
  transition: 0.1s linear;
}

.service-detail-keywords{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: flex-start;
  gap: 20px 40px;
  min-width: 560px;
}

.keywords{
  justify-content: flex-start;
}

.keywords p{
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
}

.service-detail i {
  margin-right: 4px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.award{
  background: url(./images/icon-awards.png) no-repeat center;
}

.extended{
  background: url(./images/icon-extended.png) no-repeat center;
}

.bullet{
  background: url(./images/icon-bullet.png) no-repeat center;
}

.trusted{
  background: url(./images/icon-trust.png) no-repeat center;
}

.right-side .touch{
  margin-top: 60px;
}

/* ---------PORTFOLIO--------- */
.portfolio{
  width: 100%;
  height: 960px;
  min-height: 700px;
  background-color: var(--bg-color2);
}

/* portfolio actives */
.portfolio .wrap .line::before{
  top: 130px;
  left: 3px;
}

.actives{
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
}

.portfolio .wrap .actives p{
  margin: 0;
  display: inline-block;
  align-self: flex-start;
  position: absolute;
  top: 280px;
  z-index: 2;
}

.portfolio .wrap .actives h2 {
  margin: 0;
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  top: 312px;
  left: -3px;
  font-size: 55px;
  filter: drop-shadow(1px 1px 5px #01010155);
  z-index: 2;
}

.actives .container{
  position: relative;
  flex-direction: row-reverse;
  width: 100%;
  gap: 25px;
  transform: translateX(65px);
}

.active-container{
  position: relative;
  overflow: hidden;
  margin:0;
  width: 800px;
  transition: 0.2s linear;
}

.active-imgs{
  display: flex;
  width: 100%;
  transform: translateX(-120px);
  opacity: 0.5;
  filter: brightness(0.9);
  transition: 0.2s linear;
}

.active-imgs img{
  height: 610px;
}

.active-container:hover .active-imgs, 
.active-right-btns:hover + .active-container .active-imgs{
  opacity: 1;
}

.active-right-btns{
  white-space: nowrap;  /* 텍스트 줄바꿈 제거 */
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  right: 0;
}

.active-right-btns::after{
  content: "";
  margin-top: 25px;
  height: 125px;
  width: 1px;
  background-color: var(--primary-color);
}

.active-right-btns a{
  cursor: pointer;
  padding-top: 12px;
}

/* portfolio slides */
.slides {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.slides-container{
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 900px;
  transition: 0.2s linear;
}

.slides-imgs{
  display: flex;
  width: 100%;
  filter: brightness(0.9);
  transition: 0.2s linear;
}

.slides-imgs img {
  height: 610px;
}

.slides-bottom{
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.slides .bottom-btns {
  margin-top: 10px;
  gap: 20px;
}

.slides .bottom-btns button{
  width: 20px;
  height: 20px;
}

.slides .bottom-btns button::before{
  width: 20px;
}

/* portfolio single-page */
.single-page{
  position: relative;
  margin-top: 10%;
  width: 100%;
  justify-self: center;
  align-self: center;
}


.single-page a {
  position: absolute;
  bottom: 0;
  transform: translateY(60px);
}

/* single-page left-side */
.single-page .left-side{
  position: relative;
  padding: 50px;
  width: 50%;
  min-width: 450px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-color1);
}

.single-page .left-side::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.single-page .title{
  margin: 0;
  font-size: 3rem;
}

.single-page .category-container{
  margin: 30px 20px 30px 0;
  gap: 20px;
}

.single-page .category{
  margin: 0;
}

.single-page span{
  transform: translateY(-2px);
}

.single-page .text{
  max-height: 420px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.single-page .text::-webkit-scrollbar{
  display: none;
}

.single-page .text p{
  margin-bottom: 24px;
  display: inline-block;
  font-size: 1rem;
  line-height: 28px;
  color: var(--secondry-color);
}

/* single-page right-side */
.single-page .right-side{
  width: 50%;
  min-width: 450px;
  height: 100%;
  overflow: hidden;
  background-image: url(https://picsum.photos/id/64/1920/1080);
  background-size: cover;
  background-position: center;
}

.single-page .right-side img{
  width: 40vw;
  margin: 0 auto;
}

/* ---------TESTIMONIALS--------- */
.testimonials{
  width: 100%;
  padding-bottom: 120px;
  background-color: var(--bg-color1);
}

.corporates{
  width: 100%;
  justify-content: space-between;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
}

.cards{
  margin-top: 80px;
  width: 750px;
  flex-direction: column;
  background-color: var(--bg-color2);
  box-shadow: 0px 6px 11px var(--bg-color2);
}

.testimonials .cards img{
  width: 80px;
  height: 80px;
  filter: grayscale(100);
  background-color: var(--secondry-color);
}

.testimonials .cards p{
  margin-top: 48px;
  padding: 0 64px;
  display: inline-block;
  text-align: center;
}

.testimonials .cards .text{
  font-family: var(--ff-heading);
  line-height: 30px;
  color: var(--secondry-color);
}

.testimonials .cards .team{
  margin: 8px 0 48px 0;
  font-size: 0.9rem;
  font-family: var(--ff-body);
}

/* ---------OUR TEAM--------- */
.our-team{
  width: 100%;
  padding-bottom: 120px;
  background-color: var(--bg-color2);
}

.profiles{
  width: 100%;
  height: 620px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  background: linear-gradient(to right,
    transparent 274px,
    var(--line-color2) 274px 276px,
    transparent 276px 549px,
    var(--line-color2) 549px 551px,
    transparent 551px 824px,
    var(--line-color2) 824px 826px,
    transparent 826px 100%),
    linear-gradient(to top,
    transparent 309px,
    var(--line-color2) 309px 311px,
    transparent 309px
    );
}

.profile{
  flex-direction: column;
  cursor: pointer;
  transition: 0.08s ease-out;
}

.profile:hover{
  box-shadow: 3px 4px 8px #0f0f0f, -2px -3px 8px #ffffff1c;
}

.profile img{
  margin-bottom: 24px;
  padding-top: 14px;
  padding-right: 8px;
  display: inline-block;
  height: 124px;
  padding-left: 8px;
  clip-path: circle(50%);
  border: none;
  filter: grayscale(100);
  background-color: var(--secondry-color);
}

.profile .team{
  display: inline-block;
  font-size: 0.9rem;
  font-family: var(--ff-body);
  margin-top: 6px;
}

.select{
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.select::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 72px;
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.select img{
  height: 50px;
  padding: 0;
  margin-bottom: 8px;
}

.select .profile-info{
  width: 80px;
}

.select .info{
  margin: 0 auto;
  writing-mode: vertical-rl
}

.select .info p{
  margin: 0;
}

.select .text{
  padding-left: 16px;
  font-size: 0.82rem;
  font-family: var(--ff-body);
  color: var(--secondry-color);
  line-height: 1.6rem;
  transform: translateY(-4px);
}

/* CONTACT US */
.contact-us{
  background-color: var(--bg-color1);
  padding-bottom: 120px;
}

form {
  width: 750px;
  padding: 64px;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: var(--bg-color2);
  box-shadow: 0px 6px 11px var(--bg-color2);
}

.input-container:nth-child(5),
.contact-us .touch:nth-child(6){
  justify-self: center;
  grid-column: span 2;
}

.input-container{
  width: 100%;
  height: 50px;
  position: relative;
  font-family: var(--ff-body);
  overflow: hidden;
}

.input-container input{
  width: 100%;
  height: 100%;
  padding-top: 24px;
  color: white;
  background-color: transparent;
  border: none;
}

.input-container input:focus{
  outline: none;
}

.input-container label{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  pointer-events: none; /* input이랑 사이즈가 같은데 z-index가 더 앞에 있는 요소여서 pointer-events를 none으로 해주면 뒤에 있는 input이 선택된다  */
  border-bottom: 1px solid var(--line-color);
}

.input-container label::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.content-name{
  position: absolute;
  bottom: 18px;
  left: 0;
  transition: all 0.2s ease;
}

.input-container input:focus + label .content-name,
.input-container input:valid + label .content-name{ /* valid = input에 내용이 충족했을 때 */
  transform: translateY(-60%);
  font-size: 0.9rem;
  color: var(--primary-color);
}

.input-container input:focus + label::after,
.input-container input:valid + label::after{
  transform: translateX(0%);  
}

.contact-us .touch{
  font-family: var(--ff-body);
  border: none;
  cursor: pointer;
}

.contact-us .touch:hover{
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* footer */
.footer{
  width: 100%;
  margin-top: 120px;
  justify-content: space-evenly;
}

footer .fusion{
  align-self: flex-start;
}

.footer-contact{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-contact .name {
  color: white;
}

.footer-contact .text{
  padding-top: 24px;
  font-size: 0.9rem;
  font-family: var(--ff-body);
  color: var(--secondry-color);
  line-height: 1.6rem;
  transform: translateY(-4px);
}


.icon-container{
  margin-top: 24px;
  display: flex;
  bottom: 0;
  gap: 8px;
}

.icon-container img{
  width: 24px;
}
/* tablet */
@media (max-width: 1100px  ) {
  
  /* UTILITIES */
  .wrap{
    width: 80%;
    overflow: hidden;
  }

  .title{
    font-size: 2.2rem;
    min-width: 100%;
    width: 100%;
  }

  /* HOMEPAGE */
  header{
    font-size: 3rem;
    white-space: pre-wrap;
    padding: 0;
    border: none;
  }

  /* OUR SERVICE*/
  .our-service{
    min-height: 100%;
    height: 100%;
    padding-bottom: 120px;
  }

  .services .title{
    min-width: 100%;
  }

  /* services */

  .service-group{
    width: 90%;
    height: 100%;
    flex-direction: column;
    gap: 36px;
  }

  .service{
    width: 100%;
  }

  .service-title{
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .service-title i{
    margin: 0;
  }

  /* service-detail */

  .our-service .left-side{
    position: absolute;
    top: 0;
    margin-top: 120px;
    height: 150px;
    transform: translateX(0px);

  }

  .our-service .left-side .background{
    background: none;
  }

  .left-side .background h3{
    padding: 0;
    margin-top: 0;
    position: absolute;
    background: none;
    left: 0;
    bottom: 0;
    font-size: 3rem;
    color: var(--primary-color);
  }

  .left-side .background .btn1{
    left: 0;
    top: 0;
  }

  .our-service .right-side{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 100%;
    min-width: 100%;
    position: relative;
  }

  .our-service .right-side h4{
    margin: 0 0 20px 0;
  }
  .our-service .right-side p{
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .service-detail-keywords{
    justify-content: center;
  }

  .service-detail-keywords .keywords p{
    margin: 0;
  }

  .our-service .right-side .touch{
    margin-top: 100px;
    align-self: center;
  }

  /* PORTFOLIO */

  .portfolio .wrap{
    justify-content: center;
  }

  .portfolio .wrap .line::before{
    display: none;
  }

  /* actives */
  .actives .container{
    flex-direction: column-reverse;
    transform: translateX(0);
  }

  .actives .title{
    text-align: left;
    left: 0;
    top: 0;
    justify-self: flex-start;
  }

  .active-container{
    transform: translateX(0);
    width: 80%;
  }

  .active-imgs{
    width: 100%;
    transform: translateX(-200px);
  }

  .active-right-btns{
    position: absolute;
    left: 0;
    z-index: 2;
  }

  .active-right-btns::after{
    content: none;
  }

  /* slides */
  .slides-container{
    width: 100%;
  }

  .slides-imgs {
    transform: translateX(-50px);
    width: 100%;
  }

  .slides-imgs img{
    height: 450px;
  }

  .slides-bottom{
    flex-direction: column-reverse;
    gap: 80px;
  }

  .slides-bottom .bottom-btns{
   gap: 24px;
  }

  .slides-bottom .bottom-btns button{
    width: 36px;
    height: 36px;
  }

  .slides-bottom .bottom-btns button::before{
    width: 30px;
  }

  /* single-page */
  .single-page{
    margin: 0;
    margin-bottom: 60px;
    flex-direction: column-reverse;
  }

  .single-page .left-side{
    width: 80%;
  }

   .single-page .left-side h2{
     text-align: left;
   }

  .single-page .left-side .text{
    font-size: 0.9rem;
  }

  .single-page .right-side{
    display: none;
  }

  /* TESTIMONIALS */
  .testimonials .corporates img{
    width: 60px;
  }

  .testimonials .cards{
    width: 100%;
  }

  /* OUR TEAM */

  .profiles{
    height: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    background: none;
  }

  .profile .info{
    text-align: center;
  }

  .profile:hover{
    box-shadow: none;
  }

  .select{
    grid-column: span 2;
    flex-direction: column;
    border: 1px solid var(--line-color2);
    box-shadow: 3px 4px 8px #0f0f0f,
    -1px -2px 8px #ffffff09;
  }

  .select .profile-info{
    width: 100%;
  }

  .select .profile-info img{
    display: none;
  }

  .select .profile-info .info{
    writing-mode: horizontal-tb;
    width: 100%;
    text-align: left;
  }

  .select .profile-info .info p{
    text-align: left;
  }

  .select .text{
    padding: 10px 0 0 0;
  }
  
  .profile{
    padding: 24px;
  }
  
  /* CONTACT US */
  .contact-us form{
    width: 100%;
    grid-template-columns: 100%;
  }
  .input-container:nth-child(5),
  .contact-us .touch:nth-child(6){
    grid-column: span 1;
  }
}

@media (max-width: 600px) {


  /* HOMEPAGE */
  header{
    font-size: 3rem;
  }

  .main .wrap{
    position: relative;
    overflow: visible;
  }

  .main nav{
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 1;
  }

  .main .GNB{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    margin:0;
    background-color: var(--bg-color2);
  }

  .main .GNB-list{
    display: inline-block;
    font-size: 1.2rem;
  }

  .main .GNB-list::after{
    position: absolute;
    margin-top: 2px;
    height: 18px;
  }

  .home-nav{
    width: auto;
    position: fixed;
    top: 15px;
    left: 3%;
    align-self: flex-start;
    transform: translate(0);
    z-index: 1;

  }
  .home-nav .fusion{
    width: 28px;
    height: 28px;
    font-size: 0.9rem;
  }

  .home-nav .touch{
    display: none;
  }
}


/* ---------MODE--------- */
.hidden{
  display: none;
}


